@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --color-lightgray: #7c8fa6;
    --color-grayblue: #61758e;
    --color-platinum: #e5e4e2;

    --font-Noto: 'Noto Sans', sans-serif;

    --animate-fadeIn: fadeIn 2s ease-in-out;

    @keyframes fadeIn {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
}
